<dialogs *ngIf="!loading"></dialogs>
<p-toast></p-toast>

<div *ngIf="(!loading && hasBooks());else skeleton" class="row gy-4">
  <div *ngFor="let book of books" class="col-lg-3 col-md-4 col-sm-6" style="height: 280px;">
    <card-book [admin]="admin" [book]="book" [name]="book.name" [authors]="book.authors.toString()"
      [summary]="book.summary" [year]="book.year" (refresh)="refresh($event)"></card-book>
  </div>
</div>
<ng-template #skeleton>
  <div *ngIf="loading" class="row gy-4">
    <div *ngFor="let skl of [1,2,3]" class="col-sm-6 col-md-3 col-lg-3">
      <card-book [skeleton]="true"></card-book>
    </div>
  </div>
</ng-template>