<div *ngIf="size=='sm'"class="d-flex align-items-center ms-3  " role="button" [routerLink]="['']">
  <div>
    <img src="assets/svg/comet.svg" height="40" class="mr-2" style="transform: scaleX(1) rotate(45deg);">
  </div>
  <span class="fm fs-16 fw-300 ms-2 me-3">BOOKCOMET</span>
</div>
<div *ngIf="size=='md'"class="d-flex flex-column align-items-center" role="button" [routerLink]="['']">
  <div>
    <img src="assets/svg/comet.svg" height="160" class="" style="transform: scaleX(1) rotate(45deg);">
  </div>
  <div class="fm fs-40 fw-300" style="margin-top: -20px;">BOOKCOMET</div>
</div>
